name: build

on:
  push:
    branches: main
  schedule:
    # Run weekly
    - cron:  '0 0 * * 0'

jobs:
  build:
    runs-on: ubuntu-latest
    environment: docker buildx
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        # Add support for more platforms with QEMU (optional)
        # https://github.com/docker/setup-qemu-action
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Login to DockerHub
        uses: docker/login-action@v1 
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_TOKEN }}
      - name: Build
        run: ./build
